body{
    background-color: black;
    color:white;

}
.main-image{
    width:100%;
    height:500px;
    margin:0px;

    position: absolute;
}
#name{
    color: beige;
    font-size: 50px;
    text-align: center;
    position:absolute;
    margin:200px 600px 200px 600px;
}
.header-text1, .header-text2, .header-text3{
    float:inline-start;
    position: relative;
    margin:10px;
    height:10px;
    font-size: 25px;
    color:rgb(228, 227, 192);

}

